<style>
  .chatbot-container {
    background-color: #403545;
    border-radius: var(--rounded-lg);
    padding: var(--spacing-6);
    color: rgb(var(--text-color, 255 255 255));
    position: relative;
    overflow: hidden;
  }

  section-chatbot .chatbot-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    border: 2px solid transparent;
    border-radius: inherit;
    background: linear-gradient(to right, #9F92FF, #DB9BFB) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  section-chatbot .chat-messages {
    height: 35vh;
    overflow-y: auto;
  }

  .chatbot-content {
    position: relative;
    z-index: 1;
  }

  .chatbot-content .h5 {
    margin-bottom: var(--spacing-3);
  }


  /*
   .chatbot-content p {
   font-size: var(--text-sm);
   opacity: 1;
   color: white;
   }
*/

  .message .message--assistant .message__content p {
    color: #231F25;
  }

  .message--user p {
    color: white;
  }

  .chatbot-title {
    margin-bottom: var(--spacing-6);
  }

  .chatbot-subtitle {
    color: white;
    opacity: 0.7;
  }

  .message-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .message-wrapper {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-bottom: var(--spacing-6);
    grid-gap: var(--spacing-2);
  }

  .message-wrapper--assistant {
    justify-content: flex-start;
  }

  .message-wrapper--user {
    justify-content: flex-end;
  }

  .message {
    max-width: 80%;
    padding: var(--spacing-4);
    border-radius: 20px;
    word-wrap: break-word;
  }

  .message__icon {
    flex-shrink: 0;
    margin-right: var(--spacing-3);
    margin-top: var(--spacing-1);
    display: flex;
    /* Added to ensure proper alignment */
    align-items: center;
    /* Added to ensure proper alignment */
  }


  .message__content {
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
    flex-grow: 1;
    margin-block-start: 0 important;
    font-family: inherit;
  }

  .message--assistant {
    align-self: flex-start;
    background-color: #FFFFFF;
    color: #231F25 !important;
    border-bottom-left-radius: 4px;
  }

  .message--user {
    align-self: flex-end;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    color: white;
  }

  .message-icon {
    width: 30px;
    height: 20px;
    margin-right: var(--spacing-2);
  }

  .chat-messages {
    display: flex;
    flex-direction: column;
  }

  .chat-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 8px;
  }

  .chat-form {
    display: flex;
    margin-top: var(--spacing-4);
    z-index: 2;
  }

  .chat-form input {
    flex-grow: 1;
    padding: var(--spacing-3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: var(--rounded) 0 0 var(--rounded);
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
  }

  .chat-form button {
    padding: var(--spacing-3);
    background-color: #FFFFFF;
    border: none;
    border-radius: 0 var(--rounded) var(--rounded) 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: var(--spacing-4);
  }

  .button.chat-button {
    margin-block-start: 0 !important;
  }


</style>

<div class="chatbot-container">
  <div class="chatbot-content">
    {% if section.settings.is_section_chatbot %}
      <div class="chatbot-title">
        <h5 class="h5">
          {%-
            render 'styled-text', content: section.settings.calculator_title | default: 'Find Out How Long The BASE 5.0 Will Power Your Appliance!', text_color: section.settings.heading_color, gradient: section.settings.heading_gradient
          -%}
        </h5>
        <p class="chatbot-subtitle">
          {{
            section.settings.calculator_subtitle | default: 'For best results be specific on your item e.g Macbook 15inch 2023'
          }}
        </p>
      </div>
    {% endif %}

    <div class="chat-messages" id="chatMessages">
      <div class="message-container" id="messageContainer">
        <!-- Messages will be dynamically added here -->
      </div>

      <!-- Sherpa typing code -->
      <div class="chat-typing">
        <div class="logo-container">
          <div class="logo-mask"></div>
          <div class="logo-background"></div>
        </div>
        <p>Sherpa Guide Is Typing...</p>
      </div>

      <style>
        .chat-typing {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: var(--spacing-2);
          align-items: center;
          margin-bottom: var(--spacing-4);
        }

        .chat-typing p {
          color: #FFFFFF;
        }

        .logo-container {
          width: 30px;
          height: 20px;
          position: relative;
          overflow: hidden;
        }

        .logo-mask {
          width: 100%;
          height: 100%;
          background-image: url('https://cdn.shopify.com/s/files/1/0641/4290/1439/files/Transparent_Logo.png?v=1726927756');
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
        }

        .logo-background {
          width: 400%;
          height: 400%;
          background-image: url('https://cdn.shopify.com/s/files/1/0641/4290/1439/files/Glow_Layers_4e88f55c-5acf-4845-996f-45d5b3849b08.png?v=1724967812');
          background-size: cover;
          position: absolute;
          top: -150%;
          left: -150%;
          animation: moveBackgroundCircular 10s linear infinite;
          z-index: 1;
        }

        @keyframes moveBackgroundCircular {
          0% {
            transform: translate(0, 0) rotate(0deg);
          }
          25% {
            transform: translate(-12.5%, -12.5%) rotate(90deg);
          }
          50% {
            transform: translate(-25%, 0) rotate(180deg);
          }
          75% {
            transform: translate(-12.5%, 12.5%) rotate(270deg);
          }
          100% {
            transform: translate(0, 0) rotate(360deg);
          }
        }
      </style>

    </div>


    {% render 'carousel' %}

  </div>


  <!-- Form Element ✉️ -->

  {% if section.settings.is_section_chatbot %}

    <form id="chatForm" class="chat-form">
      <input
        type="text"
        id="userInput"
        placeholder="Type your message here..."
        autocomplete="off"
        required>
      <button type="submit">
        <svg
          width="20"
          height="18"
          viewBox="0 0 20 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M1.4 17.3984L18.85 9.91844C19.0304 9.84159 19.1842 9.71341 19.2923 9.54984C19.4004 9.38626 19.4581 9.19451 19.4581 8.99844C19.4581 8.80236 19.4004 8.61061 19.2923 8.44704C19.1842 8.28346 19.0304 8.15528 18.85 8.07844L1.4 0.598438C1.2489 0.532533 1.08377 0.505281 0.919509 0.519141C0.755246 0.533002 0.597018 0.587538 0.459098 0.67783C0.321179 0.768123 0.207908 0.891331 0.129505 1.03634C0.0511009 1.18135 0.010031 1.34359 0.00999999 1.50844L0 6.11844C0 6.61844 0.37 7.04844 0.87 7.10844L15 8.99844L0.87 10.8784C0.37 10.9484 0 11.3784 0 11.8784L0.00999999 16.4884C0.00999999 17.1984 0.74 17.6884 1.4 17.3984Z" fill="#231F25" />
        </svg>
      </button>
    </form>

  {% endif %}

<!-- Form Element ✉️ -->

</div>